@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /** height: 100%; **/

}

body{
    background-image: linear-gradient(to bottom, #2B39FF, #1120F0, #050FA3);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px, rgba(46.48% 16.27 88.67);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FFDA00;
    text-align: center;
    text-shadow: 1px, 1px, 2px,#ffd90054;
;
}
h2 {
    color: #a85252;
}

P {
    text-align: justify;
    color: #;

}